body{
    margin : 0;
    padding : 0;
}

.container{
    text-align: center;
    margin-top: 100px;

}
.btn{
    border:  rgb(37, 183, 144);
    background: none;
    padding: 10px 20px;
    font-size: 30px;
    cursor: pointer;
    margin: 10px;
    border-radius: 10px;
}
.btn1{
    background-color: #26BE96;
    color: white;
    border-color: white;
}
.btn2{
    background-color: #dedfdf;
    color: #666967;
    border-color: white;
    border: 1px  solid #a3a5a4;
}
.btn3{
    background-color:#EE8363;
    color: white;
    border-color: none;
}
.btn4{
    background-color: #dce2e0;
    color: #26BE96;
    border-color: white;
}
.btn5{
    background-color: #26BE96;
    color: white;
    border-color: white;
    border-bottom: 4px solid #1a8266;
}
.btn6{
    background-color: #dedfdf;
    color: #666967;
    border-color: white;
    border-bottom: 4px solid  #9ea1a0;
}
.btn7{
    background-color:#EE8363;
    color: white;
    border-color: none;
    border-bottom: 4px solid #ca6f54 ;
}
.btn9{
    background-color: #70c7b0;
    color: white;
    border-color: white;
}
.btn10{
    background-color: #e5eded;
    color: #666967;
    border-color: white;
    border: 2px  solid  #e5eded;
}
.btn11{
    background-color:#eba590;
    color: white;
    border-color: none;
}
.btn13{
    background-color: #9de3d0;
    color: white;
    border-color: white;
}
.btn14{
    background-color: #f0f5f5;
    color: #666967;
    border-color: white;
    border: 1px  solid   #f0f5f5;
}
.btn15{
    background-color:#ef9073;
    color: white;
    border-color: none;
}
.btn17{
    background-color: white;
    border-color: black;
    border-style: dotted;
    border-radius: 1px;
    font-size: 30px;
    padding: 15px 50px;
}
.btn18{
    background-color: white;
    border-color: black;
    border-style: dashed;
    border-radius: 1px;
    font-size: 30px;
    padding: 15px 50px;
}
.btn19{
    background-color: white;
    border-color: black;
    border-style: solid;
    border-radius: 1px;
    font-size: 30px;
    padding: 15px 63px;
}

.btn20{
    background-color: white;
    border-color: black;
    border-style: double;
    border-radius: 1px;
    font-size: 30px;
    padding: 15px 60px;
}
.btn21{
    background-color: white;
    border-color: #666967;
    border-style: groove;
    border-radius: 1px;
    font-size: 28px;
    padding: 15px 62px;
}.btn22{
    background-color: white;
    border-color: #9ea1a0;
    border-style: ridge;
    border-radius: 1px;
    font-size: 30px;
    padding: 15px 62px;
}
.btn23{
    background-color: white;
    border-color: rgb(190, 185, 185);
    border-style: inset;
    border-radius: 1px;
    font-size: 30px;
    padding: 15px 62px;
}
.btn24{
    background-color: white;
    border-color:rgb(190, 185, 185);
    border-style: outset;
    font-size: 30px;
    padding: 15px 62px;
    border-radius: 1px;
}
.btn25{
    background-color: white;
    font-size: 30px;
    border-style: none;
    padding: 15px 62px;
}
.btn26{
    background-color: white;
    font-size: 30px;
    border-style: hidden;
    padding: 15px;
}
.btn27{
    background-color: white;
    color:#26BE96;
    border-style: dashed;
    border: 2px solid #26BE96;
}
.btn28{
    background-color: white;
    box-shadow: 2px 5px white;
    color: #9ea1a0;
    border: 2px solid #9ea1a0 ;
}
.btn29{
    background-color: white;
    color: #EE8363;
    border: 2px solid #EE8363;

}
.btn30{
    background-color: #dce2e0;
    color: #26BE96;
    border-color: white;
}
.btn31{
    background-color: white;
    color:#26BE96;
    border-style: dashed;
    border: 3px solid #1a8266;
}
.btn32{
    background-color: white;
    color: #7d7e7e;
    border: 3px solid #828483;;
}
.btn33{
    background-color: white;
    color: #EE8363;
    border: 3px solid #ca6f54;
}
.btn35{
    background-color: #70c7b0;
    color: white;
    border-color: white;
}
.btn36{
    background-color: #e5eded;
    color: #666967;
    border-color: white;
    border: 2px  solid  #e5eded;
}
.btn37{
    background-color:#eba590;
    color: white;
    border-color: none;
}
.btn39{
    background-color: white;
    color:#8fddc8;
    border-style: dashed;
    border: 2px solid #8fddc8;
}
.btn40{
    background-color: white;
   border: 2px solid   #f0f5f5;
    color: #9ea1a0;
}
.btn41{
    background-color: white;
    color: #ef9073;
    border: 2px solid #e2a08b;

}
